@model IEnumerable<SalesWebMvc.Models.Seller>

@{
    ViewData["Title"]="Create" ;
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </th>
            <td>
                <h1>Teste</h1>
            </td>
        </tr>
        }
    </tbody>
</table>
